flask               
gunicorn          
mtcnn               
opencv-python    
pillow             
numpy              
tensorflow         
insightface         
onnxruntime        
psycopg2-binary     
python-dotenv       
requests           